@import "tailwindcss";

@theme {
  --color-cream: #ead7b8;
  --color-brown-light: #785d49;
  --color-brown-dark: #5c4433;
  --color-orange: #dc9f5e;

  --font-grifa: var(--font-grifa);
  --font-knicknack: var(--font-knicknack);
  --font-nunito: var(--font-nunito);
  --font-sundayNotes: var(--font-sundayNotes);
}
